<button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Crear Categoria <i class="fas fa-plus" ></i></button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Nueva Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

             <form [formGroup]="categoryForm" (ngSubmit)="createCategories();">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" style="text-align:start;">
                    <label for="">Nombre del Producto</label>
                    <input type="text" class="form-control"  required
                     placeholder="Nombre de la Categoria" formControlName="categoriesName">

                  </div>
                  </div>

                </div>



              <br>
              <button type="submit" class="btn btn-outline-success btn-lg btn-block "> Crear </button>
            </form>
</div>
        </div>
      </div>




    </div>
  </div>

