<nav style="background-color: #000000; " class="navbar fixed-top navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="">Shadaynet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="list-products">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="list-categories">Categorias</a>
      <a class="nav-item nav-link" href="sales-products">Ventas</a>
      <a class="nav-item nav-link " href="list-client">Clientes</a>
      <a class="nav-item nav-link " href="">Salir</a>
    </div>
  </div>
</nav>
<br>
